@font-face {
  font-family: "tele-groteskultregular";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/tele-grotesk-ultr-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "tele-groteskultregular";
  font-style: normal;
  font-weight: bolder;
  font-display: swap;
  src: url("../fonts/tele-grotesk-ultr-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "tele-groteskultregular";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/tele-grotesk-fett-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "tele-groteskultregular";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/tele-grotesk-fett-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "tele-groteskultregular";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/tele-grotesk-halb-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "tele-groteskultregular";
  font-style: normal;
  font-weight: medium;
  font-display: swap;
  src: url("../fonts/tele-grotesk-halb-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "tele-groteskultregular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/tele-grotesk-norm-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "tele-groteskultregular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/tele-grotesk-norm-webfont.woff2") format("woff2");
}
