$color-primary: #e30074;
$color-primary-text: #616161;
$color-secondary-text: #757575;
$color-primary-background: #eeeeee;
$color-secondary-background: #fafafa;

$color-success-text: #8bc34a;
$color-success-border: #8bc34a;
$color-success-background: #f1f8e9;

$color-info-text: #03a9f4;;
$color-info-border: #03a9f4;;
$color-info-background: #e1f5fe;

$color-warning-text: #9c27b0;
$color-warning-border: #9c27b0;
$color-warning-background: #f3e5f5;

$color-footer-background: #262626;
$color-footer-text: #A3A3A3;