@import "_component-header";
@import "_component-body";
@import "_component-footer";
@import "_utilities-fonts";

html,
body {
  font-family: "tele-groteskultregular", 'Lato', Courier, monospace;
}

.tm-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}