@import "_component-header";
@import "_component-body";
@import "_component-footer";

html,
body {
  font-family: "Lato", Courier, monospace;
}

.tm-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  // height: 100vh;
}