@import "_utilities-animations";
@import "_utilities-colors";
@import "_utilities-fonts";

@import "_component-header";
@import "_component-body";
@import "_component-footer";

@import "_component-action";
@import "_component-button";
@import "_component-common";
@import "_component-device";
@import "_component-input";
@import "_component-message";
@import "_component-multisim";
@import "_component-phone";
@import "_component-signup";
@import "_component-sim-generation";

html,
body {
  font-family: "tele-groteskultregular", 'Lato', Courier, monospace;
}

.tm-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}